# Python virtual environment
venv/
.venv/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/

# Env files
.env
.env.local

# IDEs and editors
.vscode/
.idea/

# Logs
*.log
$tempLog

# Temporary files from processing
temp*.jpg
temp*.mp4
temp_audio_chunks/*.wav

# macOS
.DS_Store


live_stream_socket.py